.circle1 {
    width: 60%;
    height: 75%;
    position: absolute;
    z-index: -1;
    top: -20%;
    left: -15%;
    opacity: 90%;
    border-radius: 50%;
    background: rgba(171,181,224,255);
    background: linear-gradient(135deg, rgba(171,181,224,255) 50%, rgba(255,255,255,255) 80%);
}

.circle2 {
    width: 48%;
    height: 75%;
    position: absolute;
    z-index: -1;
    top: 70%;
    left: -15%;
    opacity: 90%;
    border-radius: 50%;
    background: rgba(171,181,224,255);
    background: linear-gradient(0, rgba(147,162,216,255) 0%, rgba(255,255,255,255) 80%);
}

.circle3 {
    width: 20%;
    height: 40%;
    position: absolute;
    z-index: -1;
    top: 30%;
    right: -5%;
    opacity: 90%;
    border-radius: 50%;
    background: rgba(171,181,224,255);
    background: linear-gradient(-45deg, rgba(171,181,224,255) 50%, rgba(255,255,255,255) 80%);
}

.circle4 {
    width: 20%;
    height: 40%;
    position: absolute;
    z-index: -1;
    bottom: -60%;
    right: -5%;
    opacity: 90%;
    border-radius: 50%;
    background: rgba(171,181,224,255);
    background: linear-gradient(135deg, rgba(147,162,216,255) 0%, rgba(255,255,255,255) 80%);
}